node_modules
build
public/build
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
yarn-error.log
old/
node_modules/
doc/
package-lock.json
.idea/
.aider*

/notes
data/notes
netention_db
